# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

#directories
data/
diffgen/
models/
wandb/

# Jupyter notebooks
rope.ipynb
test.ipynb

# VS Code settings
.vscode/

# Virtual environment
.venv/
venv/

